<?xml version="1.0" encoding="utf-8"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="IBM.Data.DB2" publicKeyToken="7c307b91aa13d208" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.7.4.4" newVersion="9.7.4.4" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
